
{% block content %}
<div>
  <h3>Tổng quan: {{player.playername}}</h3>
  <p>Số trận đã chơi: {{ player.games_played }}</p>
  <p>Thắng: {{ player.wins }}</p>
  <p>Thua: {{ player.losses }}</p>
  <p>Tỉ lệ thắng: {{ player.win_rate * 100 }}%</p>

  <h3>Phổ xác suất đặt tàu</h3>
  {% if player.ship_probability_matrix %}

    {% set matrix = player.ship_probability_matrix %}
    {% set heatmap = True %}
    {% include 'statistic/_stat_table.html' with context %}
  
  {% else %}
  <p>Chưa có dữ liệu phổ xác suất.</p>
  {% endif %}
{% endblock %}
  
  