{% extends 'base.html' %}

{% block content %}
    <div>
        <h2>Game: {{ host_name }} - {{ guest_name }}</h2>
        <br>
        <p>Game id: {{ game.id }}</p>
        <p>Chủ trận (Host): {{ host_name }}</p>
        <p>Thời gian: {{ game.timestamp.strftime('%d-%m-%Y %H:%M') }}</p>
        <p>Trạng thái: {{ game.status }}</p>
        
        <hr>

        <h3>Kết quả</h3>
        <p>Người thắng: {{game.winner}}</p>
        <p>Kết thúc sau: {{game.player_shots + game.opponent_shots}} lượt bắn</p>
        <p>Chủ phòng bắn {{game.player_shots}} lượt, Đối thủ bắn {{game.opponent_shots}} lượt. </p>
        <hr>

        <h4>Tàu đã chìm</h4>
        <ul>
            <li><strong>{{ host_name }}</strong>: 
                {% if player_sunked %}
                {{ player_sunked | join(', ') }}
                {% else %}
                Không có tàu nào bị chìm
                {% endif %}
            </li>
            <li><strong>{{ guest_name }}</strong>: 
                {% if opponent_sunked %}
                {{ opponent_sunked | join(', ') }}
                {% else %}
                Không có tàu nào bị chìm
                {% endif %}
            </li>
        </ul>

        <h4>Tàu còn sống</h4>
        <ul>
            <li><strong>{{ host_name }}</strong>: 
                {% if player_alive %}
                {{ player_alive | join(', ') }}
                {% else %}
                Không còn tàu nào sống
                {% endif %}
            </li>
            <li><strong>{{ guest_name }}</strong>: 
                {% if opponent_alive %}
                {{ opponent_alive | join(', ') }}
                {% else %}
                Không còn tàu nào sống
                {% endif %}
            </li>
        </ul>

        <div class="card">
            <div class="card-header">Lịch sử đấu</div>
            <ul class="list-group list-group-flush" style="max-height: 400px; overflow-y: auto;">
                {% for log in game.history_logs %}
                    <li class="list-group-item">
                        <strong>Lượt {{ log.turn }}:</strong> 
                        <br>
                        <span class="text-primary">{{ log.attacker_name }}</span> 
                        đã bắn vào ô ({{log.x}}; {{log.y}})
                        
                        {% if log.result == 'miss' %}
                            <span class="badge bg-secondary">{{ log.result }}</span>
                        {% elif log.result == 'hit' %}
                            <span class="badge bg-warning text-dark">{{ log.result }}</span>
                        {% elif log.result == 'sunk' %}
                            <span class="badge bg-danger">{{ log.result }}</span>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="list-group-item text-muted">Chưa có nước đi nào.</li>
                {% endfor %}
            </ul>
        </div>

        <hr>

        <h3>Ma trận</h3>
        <h4>{{ host_name }}</h4>
            {% set matrix = player_grid %}
            {% set heatmap = False %}
            {% include 'statistic/_stat_table.html' with context %}

        <h4>{{ guest_name }}</h4>
            {% set matrix = opponent_grid %}
            {% set heatmap = False %}
            {% include 'statistic/_stat_table.html' with context %}
    </div>
{% endblock %}